<!-- admin_dashboard.html -->

{% extends "admin/admin_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Generate Registration Code</h1>
<form id="generate-form" method="post">
    <label for="code_type">Code Type:</label>
    <select id="code_type" name="code_type">
        <option value="TIME" selected>即时生效</option>
        <option value="DELAY">使用生效</option>
        <option value="USAGE">计次使用</option>
    </select>
    <br><br>
    <div id="property_select_div">
        <label for="property_select">Property:</label>
        <select id="property_select" name="property_select">
            {% for property in properties %}
            <option value="{{ property[0] }}">{{ property[1] }} ({{ property[4] }})</option>
            {% endfor %}
        </select>
    </div>
    <br><br>
    <div id="expiration_duration_div">
        <div id="expiration_date_result"></div>
    </div>
    <button type="submit">Generate</button>
</form>
<div id="response-data" style="text-align: center; margin-top: 50px;"></div>
<script>
    var properties = JSON.parse('{{ properties | tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='code_generate.js') }}"></script>
{% endblock %}
