<!-- admin_dashboard.html -->

{% extends "admin/admin_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Generate Registration Code</h1>
<form id="generate-form" method="post">
    <label for="code_type">Code Type:</label>
    <select id="code_type" name="code_type">
        <option value="time" selected>Time-based</option>
        <option value="usage">Usage-based</option>
    </select>
    <br><br>
    <div id="expiration_duration_div">
        <label for="expiration_duration">Expiration Duration:</label>
        <input type="number" id="expiration_duration" name="expiration_duration" min="1" required>
        <select id="duration_unit" name="duration_unit">
            <option value="days" selected>Days</option>
            <option value="weeks">Weeks</option>
            <option value="months">Months</option>
        </select>
        <br><br>
        <div id="expiration_date_result"></div>
    </div>
    <div id="max_usage_div" style="display:none;">
        <label for="max_usage">Max Usage:</label>
        <input type="number" id="max_usage" name="max_usage" min="1">
        <br><br>
    </div>
    <button type="submit">Generate</button>
</form>
<div id="response-data" style="text-align: center; margin-top: 50px;"></div>

<script src="{{ url_for('static', filename='code_generate.js') }}"></script>
{% endblock %}