<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Codes Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registration Codes Management</h1>
        <table border="1">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Code</th>
                    <th>Type</th>
                    <th>Expiration Date</th>
                    <th>Max Usage</th>
                    <th>Usage Count</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for registration_code in codes.items %}
                <tr>
                    <td>{{ registration_code.id }}</td>
                    <td>{{ registration_code.code }}</td>
                    <td>{{ registration_code.type }}</td>
                    <td>{{ registration_code.expiration_date }}</td>
                    <td>{{ registration_code.max_usage }}</td>
                    <td>{{ registration_code.usage_count }}</td>
                    <td>{{ 'Valid' if registration_code.status == 1 else 'Invalid' }}</td>
                    <td>
                        <form action="{{ url_for('code_list') }}" method="post">
                            <input type="hidden" name="code_id" value="{{ registration_code.id }}">
                            <!-- 这里可以添加其他字段和按钮来更新注册码的属性 -->
                            <button type="submit">Update</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if codes.has_prev %}
        <a href="{{ url_for('views.code_list', page=codes.prev_num) }}">Previous</a>
        {% endif %}
        {% for num in codes.iter_pages() %}
            {% if num %}
                {% if num != codes.page %}
                    <a href="{{ url_for('views.code_list', page=num) }}">{{ num }}</a>
                {% else %}
                    <span>{{ num }}</span>
                {% endif %}
            {% else %}
                <span class="ellipsis">...</span>
            {% endif %}
        {% endfor %}
        {% if codes.has_next %}
        <a href="{{ url_for('views.code_list', page=codes.next_num) }}">Next</a>
        {% endif %}
    </div>
</body>
</html>
